/*
Copyright (C) 2019 Jerry

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.table-responsive>.table>tbody>tr>td
{
    max-width: 50px;
    /*word-break: break-all;*/
    word-wrap: break-word;
    white-space: normal;
}
.table-responsive>.table>tbody>tr>td:nth-child(4) ,
.table-responsive>.table>tbody>tr>td:nth-child(8) 
{
    min-width: 200px;
    max-width: 300px;
}
.table-responsive>.table>tbody>tr>td:nth-child(8)>ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.table-responsive>.table>tbody>tr>td:nth-child(8)>ul>li:nth-child(even)
{
    background-color: #f2f2f2;
}

